In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('analyze/cv-valid-train.csv')

In [4]:
df.iloc[1]

filename                cv-valid-train/sample-000001.mp3
text          everything in the universe evolved he said
up_votes                                               1
down_votes                                             0
age                                                  NaN
gender                                               NaN
accent                                               NaN
duration                                             NaN
Name: 1, dtype: object

# Other accents

In [5]:
df.accent.unique()

array([nan, 'us', 'england', 'australia', 'indian', 'canada', 'malaysia',
       'ireland', 'bermuda', 'scotland', 'african', 'newzealand', 'wales',
       'philippines', 'singapore', 'hongkong', 'southatlandtic'],
      dtype=object)

In [12]:
accent_us = df[df['accent'] == 'us'].head(50)
accent_england = df[df['accent'] == 'england'].head(50)
accent_indian = df[df['accent'] == 'indian'].head(50)
accent_canada = df[df['accent'] == 'canada'].head(50)
accent_malaysia = df[df['accent'] == 'malaysia'].head(50)
accent_ireland = df[df['accent'] == 'ireland'].head(50)
accent_bermuda = df[df['accent'] == 'bermuda'].head(50)
accent_scotland = df[df['accent'] == 'scotland'].head(50)
accent_african = df[df['accent'] == 'african'].head(50)
accent_newzealand = df[df['accent'] == 'newzealand'].head(50)
accent_wales = df[df['accent'] == 'wales'].head(50)
accent_singapore = df[df['accent'] == 'singapore'].head(50)
accent_hongkong = df[df['accent'] == 'hongkong'].head(50)
accent_southatlandtic= df[df['accent'] == 'southatlandtic'].head(50)

In [13]:
human_df = pd.concat([accent_us, accent_england, accent_indian, accent_canada, accent_malaysia, accent_ireland, accent_bermuda, accent_scotland, accent_african, accent_newzealand, accent_wales, accent_singapore, accent_hongkong, accent_southatlandtic])

In [14]:
human_df

,filename,text,up_votes,down_votes,age,gender,accent,duration
5,cv-valid-train/sample-000005.mp3,a shepherd may like to travel but he should ne...,1,0,twenties,female,us,NaN
8,cv-valid-train/sample-000008.mp3,put jackie right on the staff,3,0,seventies,male,us,NaN
13,cv-valid-train/sample-000013.mp3,but he had found a guide and didn't want to mi...,1,0,thirties,female,us,NaN
23,cv-valid-train/sample-000023.mp3,i had seen all that it would presently bring me,5,0,thirties,male,us,NaN
34,cv-valid-train/sample-000034.mp3,i have had the same dream twice he said,1,0,fourties,female,us,NaN
...,...,...,...,...,...,...,...,...
100617,cv-valid-train/sample-100617.mp3,he still calls his mother 'mummy',2,1,thirties,male,southatlandtic,NaN
100886,cv-valid-train/sample-100886.mp3,you've got swell form,2,0,thirties,male,southatlandtic,NaN
104312,cv-valid-train/sample-104312.mp3,it's easy to do here in the kitchen,1,0,thirties,male,southatlandtic,NaN
105023,cv-valid-train/sample-105023.mp3,marty helped capture the remagen bridge,2,0,thirties,male,southatlandtic,NaN
107921,cv-valid-train/sample-107921.mp3,the secretary tugged at a loose fibre,2,0,thirties,male,southatlandtic,NaN

# Filipino Accent

In [22]:
filipino_df = df[df['accent'] == 'philippines']

In [23]:
filipino_df

,filename,text,up_votes,down_votes,age,gender,accent,duration
1344,cv-valid-train/sample-001344.mp3,the visual acuity is astonishing,1,0,fourties,male,philippines,NaN
1564,cv-valid-train/sample-001564.mp3,some storms are worth the wreckage,2,0,thirties,female,philippines,NaN
1590,cv-valid-train/sample-001590.mp3,i'm just too miserable,1,0,twenties,female,philippines,NaN
3933,cv-valid-train/sample-003933.mp3,love is the falcon's flight over your sands,1,0,twenties,male,philippines,NaN
5077,cv-valid-train/sample-005077.mp3,continue in the direction of the pyramids said...,4,1,thirties,female,philippines,NaN
...,...,...,...,...,...,...,...,...
194787,cv-valid-train/sample-194787.mp3,he had already seen many people come and go an...,1,0,fourties,male,philippines,NaN
194976,cv-valid-train/sample-194976.mp3,if we serve tea in crystal the shop is going t...,1,0,twenties,male,philippines,NaN
195045,cv-valid-train/sample-195045.mp3,you're in luck you two the fat arab said,6,0,thirties,male,philippines,NaN
195239,cv-valid-train/sample-195239.mp3,i found these one day in the fields,3,0,thirties,male,philippines,NaN
195381,cv-valid-train/sample-195381.mp3,are you crazy the boy asked the alchemist when...,2,1,twenties,male,philippines,NaN

In [15]:
import shutil

In [16]:
source = 'C:/Users/Jeleazar/Desktop/UE/Thesis/Dataset/common_voice/cv-valid-train/'
destination = 'C:/Users/Jeleazar/Desktop/AudioClassificationFeatures/AudioData/human/common-voice-other-accent'

In [17]:
for i, j in human_df.iterrows():
    path = source + j['filename']
    shutil.copy(path, destination)